<div class="container">
    <h1>Crear préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="prestamo.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>El nombre del juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>El nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha inicio préstamo</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="prestamo.fechainicio" name="fechainicio" required>
            <mat-error>La fecha de inicio no puede estar vacía</mat-error>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha fin de préstamo</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="prestamo.fechafin" name="fechafin" required>
            <mat-error>La fecha de fin no puede estar vacía</mat-error>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
